* {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
}

.header {
    justify-content: space-between;
    padding: 12px 15%;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px; 
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

a {
    text-decoration: none;
}

.logo,
.hero-main {
    color: #f9faf8;
}

a,
.hero-second,
.btn1 {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.hero-content,
.btn1 {
    display: flex;
    align-items: center;

}

.hero-content{
    justify-content: space-between;
    flex-wrap: wrap ;
    padding: 60px 15%;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-second {
    max-width: 600px;
}

.btn1 {
    justify-content: center;
    background-color: #3882f6;
    font-weight: bold;
    width: 140px;
    height: 35px;
    border-radius: 10px;
    margin: 15px 0;
}

.image{
    width: 600px;
    border-radius: 10px;
}

.information {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}

.info-header {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}

.info-block {
    width: 200px;
    text-align: center;
}

.info-image {
    border: 3px solid #3882f6; 
    height: 200px;
    border-radius: 10px;
    margin: 10px 0;
}