* {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
}

.hero-container {
    padding: 12px 15%;
}

.header {
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px; 
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

a {
    text-decoration: none;
}

.logo,
.hero-main {
    color: #f9faf8;
}

a,
.hero-second,
.btn1 {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.hero-content,
.btn1 {
    display: flex;
    align-items: center;

}

.hero-content{
    justify-content: space-between;
    flex-wrap: wrap ;
    padding: 50px 0 50px 0;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-second {
    max-width: 600px;
}

.btn1 {
    justify-content: center;
    background-color: #3882f6;
    font-weight: bold;
    width: 140px;
    height: 35px;
    border-radius: 10px;
    margin: 15px 0;
}

.txtcontainer {
    flex-basis: 400px;
    max-width: 500px;
    flex-shrink: 1;
    flex-grow: 1;
}

.image{
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}

.information {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px 0 50px;

}

.info-header {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
    flex-wrap: wrap;
}

.info-block {
    width: 200px;
    text-align: center;
    flex-shrink: 0;
}

.info-image {
    border: 3px solid #3882f6; 
    height: 200px;
    border-radius: 10px;
    margin: 10px 0;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    padding: 120px;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}

.author {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    font-size: 18px;
    font-weight: bolder;
}

.action {
    padding: 120px;
    display: flex;
    justify-content: center;
}

.action-container {
    display: flex;
    width: 800px;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
}

.action-text {
    color: #e5e7eb;

}

.action-head {
    font-size: 24px;
    font-weight: bolder;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e5e7eb ;
    border-radius: 10px;
    width: 140px;
    height: 35px;
    border-radius: 10px;
}